h1 {
  color: maroon;
  font-family: sans-serif;
  font-size: 30;
  text-align: center;
}

body {
  background-color: #FFA480;
  font-family: sans-serif;
  font-style: normal;
  text-align: left;

}
img {
  float: right;


}
.tape {
  font-weight: 100;
  font-style: normal;
  color: #A52A2A;

}
.project {
  font-style: italic;
  color: maroon;
}
body {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  b
  padding-bottom: 250px;
  border: 25px;
}
.bottom {
  background-color: #FF6347;
  font-weight: 200;
  width: 70%;
  font-family: serif;
  float: right;

}
.hobby {
  background-color: #FFA05A;
  width: 70%;
  font-weight: light;
  float: left;
}
.work {
  background-color: #FF6347;
  font-style: normal;
  font-family: cursive;
  float: right;
  width: 70%;


}
.school {
  background-color: #F4A460;
  width: 70%;
  font-family: sans-serif;
}
