h1 {
  color: #0079;
  font-family: cursive;
  font-size: 30;
  text-align: center;
}

body {
  background-color: #FFA480;
  font-family: sans-seri;
  font-style: normal;
  text-align: left;

}
img {
  float: right;


}
.tape {
  font-weight: 100;
  font-style: normal;
  font-size: 18;
  color: #A52A2A;

}
.project {
  font-style: italic;
  color: maroon;
}
body {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 100px;
}
.bottom {
  background-color: #FF6347;
  font-weight: 200;
  width: 90%;
  font-family: serif;
  float: right;
}
